* {
    margin: 0%;
    background-color: lightblue;
}

h1 {
    background-color: white;
    font-family: 'Rock Salt', cursive;
    font-size: 3em;
    text-align: center;
    margin-bottom: 1.5rem;
}


#tasks {
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    border-radius: 0.5em;
    width: 100%;
    justify-self: center;
    background-color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container {
    display: grid;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
}

input, #button {
    font-size: 0.8em;
    background-color: white;
    border-radius: 0.4em;
    padding: 0.3em;
    margin-bottom: 1em;
}

.remove-button {
    background-color: transparent;
    border: none;
    font-size: 0.8em;
}

.completed {
    text-decoration: line-through;
}

span, article > div {
    background-color: #ffffff;
    margin: 0.5rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}